/*Navbar*/
.bg-orange {
    background: #fca107;
}
.title {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0px;
}
.iconRight {
    margin-left: 10px;
    color: rgb(77, 77, 77);
}
.badge {
    position: absolute;
    font-size: 14px;
    right: 5px;
}

.red {
    color: red;
}

/*Grid*/
.list ul {
    list-style: none;
    margin-top: 2.5em;
    padding: 0px;
}
.link {
    color: #000;
    text-decoration: none;
}
.link:hover {
    color: rgb(80, 80, 80);
    text-decoration: none;
}
.card {
    margin-top: 2.5em;
}
.active {
    font-weight: bold;
}
/*cart*/
.body {
    margin-top: 6em;
}
.flex {
    list-style: none;
    border: 0.5px solid #808080;
    padding: 0px;
    margin-top: 30px;
    clear: both;
}
.flex .text-left {
    float: left;
}
.flex .text-right {
    float: right;
}
.flex .coupon {
    margin-top: 10px;
}
.coupon {
    color: crimson;
    padding-bottom: 5px;
}
table tr td .remove {
    border-radius: 100%;
}